.login-section {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  height: 100%;
}

.login__box {
  box-sizing: border-box;
  width: clamp(320px, 80%, 350px);;
  min-height: 400px;
  border: 1px solid rgb(146, 146, 146);
  background-color: rgb(252, 252, 252);
  border-radius: 16px;
  text-align: center;
}

.logo {
  width: 100%;
  line-height: 60px;
}

.logo span {
  font-family: "Pacifico", cursive;
}


