.addMordal {
  position: absolute;
  z-index: 5;
  width: 30%;
  max-height: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(224, 224, 224);
  text-align: center;
}

.add-modal-name {
  border-radius: 10px 10px 0 0;
  margin: 0 auto 5px;
  max-width: 100%;
  height: 30%;
  padding: 5px;
  font-size: 1rem;
  background-color: rgb(226, 226, 229);
}

.inputArea {
  width: 80%;
  height: 40%;
  margin: 1rem auto 0.5rem;
  text-align: center;
}


.inputArea h2 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.inputArea input {
  width: 100%;
  height: 35%;
  margin: 0 auto;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.time-area {
  width: 85%;
  height: 5%;
  display: flex;
  justify-content: center;
  margin: 0 auto 16px;
  font-size: 0.8rem;
}

.time-area-span {
  margin: 3px 1rem 3px 0.5rem;
}

.time-area-name {
  width: 22%;
  font-size: 0.8rem;
  line-height: 200%;
}

.time-area-name h4 {
  margin-right: 10px;
}

.time-one {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.time-one input {
  margin-top: 3px;
  width: 90%;
}

.time-two {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.time-two input {
  margin-top: 3px;
  width: 90%;
}

.time-area input::placeholder {
  color: black;
  font-size: 0.8rem;
  text-align: center;
}

.buttonBox {
  width: 90%;
  height: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.buttonBox button {
  background-color: white;
  width: 2rem;
  height: 2rem;
  margin: 0 0 1rem 10px;
  border: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.buttonBox button:hover {
  border-radius: 100%;
  background-color: lightgray;
}

.day-1 {
  left: 14.2857142857%;
}

.day-2 {
  left: 29%;
}

.day-3 {
  left: 43%;
}

.day-4 {
  right: 57%;
}

.day-5 {
  right: 43%;
}

.day-6 {
  right: 29%;
}

.day-7 {
  right: 15%;
}

.week-1 {
  top: 17%;
}

.week-2 {
  top: 30%;
}

.week-3 {
  top: 40%;
}

.week-4 {
  top: 50%;
}

.week-5 {
  top: 50%;
}

.week-6 {
  top: 60%
}
