.addMordal {
  position: absolute;
  z-index: 5;
  width: 20%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(224, 224, 224);
}

.inputArea{
  width: 90%;
  height: 40%;
  margin: 1rem auto;
  text-align: center;
}

.inputArea h2 {
  font-size: 1.3rem;
}

.inputArea input {
  width: 100%;
  margin: 1rem auto;
  height: 20%;
}

.inputArea .input-empty {
  width: 100%;
  margin: 1rem auto;
  height: 20%;
  background-color: rgb(245, 231, 233);
  border: 1px solid red;
}

.buttonBox {
  width: 90%;
  height: 20%;
  margin: 0 auto;
  text-align: right;
}

.buttonBox button {
  margin: 0 0 0 1rem;
}

.day-1 {
  left: 14.2857142857%;
}

.day-2 {
  left : 29%;
}

.day-3 {
  left: 43%;
}

.day-4 {
  right: 57%;
}

.day-5 {
  right: 43%;
}

.day-6 {
  right: 29%;
}

.day-7 {
  right: 15%;
}

.week-1 {
  top: 17%;
}

.week-2 {
  top: 30%;
}

.week-3 {
  top: 40%;
}

.week-4 {
  top: 50%;
}

.week-5 {
  top: 60%;
}

.week-6 {
  top: 68%;
}