.all-list {
  position: absolute;
  z-index: 5;
  width: 15%;
  height: 30%;
  background-color:white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(224, 224, 224);
  text-align: center;
}

.header-list-box {
  margin: 12px 0 5px 0;
  height: 10%;
  display: flex;
  align-items: center;
}

.header-list-box h2 {
  font-size: 1rem;
  margin: 0 20% 0 50%;
}

.header-list-box button {
  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: white;
}

.header-list-box button:hover {
  background-color: lightgray;
  border-radius: 100%;
}

.list-box-date {
  font-size: 1rem;
}

.main-list-box {
  margin: 16px 16px;
  margin-bottom: 10%;
  overflow-y: auto;
  max-height: 56%;
}

.main-list-box ul {
  list-style: none;
  text-align: left;
}

.main-list-box li {
  margin-top: 10px;
}

.start-date {
  height: 100%;
  background-color: rgb(121, 134, 203);
  border-right: 50% solid transparent;
  border-top: 50% solid transparent;
  border-bottom: 50% solid transparent;
}

.fake-date {
  background-color: rgb(121, 134, 203);
  border-radius: 10px 10px 10px 10px;
}

.end-date {
  background-color: rgb(121, 134, 203);
  border-radius: 10px 0 0 10px;
}

.li-day-1 {
  left: 1%;
}

.li-day-2 {
  left: 14%;
}

.li-day-3 {
  left: 28%;
}

.li-day-4 {
  right: 42%;
}

.li-day-5 {
  right: 43%;
}

.li-day-6 {
  right: 29%;
}

.li-day-7 {
  right: 15%;
}

.li-week-1 {
  top: 17%;
}

.li-week-2 {
  top: 30%;
}

.li-week-3 {
  top: 40%;
}

.li-week-4 {
  top: 50%;
}

.li-week-5 {
  top: 60%;
}

.li-week-6 {
  top: 70;
}
