.list-box {
  position: absolute;
  z-index: 5;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 7px 7px 20px rgb(121, 120, 120);
}

.edit {
  height: 300px;
}

.option-box {
  width: 60%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 38%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.option-box div {
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding-top: 8px;
}

.option-box div:hover {
  background-color: rgb(242, 239, 239);
  border-radius: 100%;
}

.list-edit-form {
  top: 30px;
  width: 100%;
  height: 220px;
}

.listName {
  width: 90%;
  margin-left: 15px;
  font-size: 15px;
}

.edit-list {
  width: 90%;
  max-height: 20%;
  margin: 20px 0 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.edit-list img {
  margin-right: 20px;
}

.edit-list input {
  width: 78%;
  height: 22px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-right: 5px;
}

.edit-list input::placeholder {
  color: black;
  font-size: 14px;
}

.list-info {
  width: 95%;
  height: 70px;
  margin-left: 20px;
}

.list-title {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.list-time {
  width: 100%;
  height: 30%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.time-item {
  margin-right: 5px;
}

.list-color-box {
  width: 14px;
  height: 14px;
  border-radius: 30%;
}

.done {
  text-decoration: line-through;
}

.fa-check {
  font-size: 1.1rem;
}

.fa-xmark {
  font-size: 1.1rem;
}

.edit-button-box {
  width: 90%;
  max-height: 13%;
  margin: auto;
  text-align: right;
}

.edit-button-box button {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  border: 0;
  font-size: 0.8em;
  font-weight: bold;
  background-color: transparent;
}

.edit-button-box button:hover {
  border-radius: 100%;
  background-color: rgb(242, 239, 239);
}


@media screen and (max-width: 425px) {
  .list-box {
    width: 300px;
  }

  .edit-list input{
    font-size: 8px;
  }

  .list-time {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:left;
    justify-items: center;
    gap: 5px;
  }

  .time-item {
    margin: 0;
  }
}

@media screen and (max-width: 325px) {
  .list-box {
    width: 250px;
  }

  .list-time {
    width: 80%;
  }
}
