.make-modal-box {
  position: absolute;
  z-index: 50;
  background-color: rgb(250, 250, 250);
  box-shadow: 7px 7px 20px rgb(121, 120, 120);
  border-radius: 7px;
  text-align: center;
  overflow: hidden;
}

.add-modal-title {
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  background-color: rgb(226, 226, 229);
}

.addModal {
  margin-top: 25px;
  width: 400px;
  height: auto;
  font-size: 16px;
  transition: opacity 0.3s ease;
  overflow-x: hidden;
}

.buttonBox {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgb(220, 220, 220);
  text-align: right;
  line-height: 50px;
}

.buttonBox button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.buttonBox button:hover {
  background-color: rgb(227, 227, 227);
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
}
