.addModal {
  position: absolute;
  z-index: 30;
  width: 400px;
  min-height: 300px;
  font-size: 16px;  
  text-align: center;
  border-radius: 5px;
  box-shadow: 7px 7px 20px rgb(121, 120, 120);
  background-color: rgb(251, 251, 251);
  transition: opacity 0.3s ease;
}

.add-modal-name {
  margin: 0 auto 35px;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  background-color: rgb(226, 226, 229);
}

.buttonBox {
  width: 90%;
  height: 30px;
  margin: 10px auto 20px;
  text-align: right;
}

.buttonBox button {
  width: 30px;
  height: 100%;
  margin: 0 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.buttonBox button:hover {
  background-color: rgb(227, 227, 227);
}
