.AllList {
  position: absolute;
  z-index: 50;
  width: 230px;
  height: 240px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 7px 20px rgb(121, 120, 120);
  text-align: center;
  transition: all 1s ease;
}

.AllList-header {
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  height: 35px;
  display: flex;
  align-items: center;
}

.AllList-header h2 {
  font-size: 16px;
  margin-left: 105px;
}

.AllList-header button {
  font-size: 16px;
  margin-left: 66px;
  width: 26px;
  height: 26px;
  border: 0;
  background-color: white;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
    border-radius: 100%;
  }
}

.AllList-date {
  box-sizing: border-box;
  margin: 10px 0;
  height: 18px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.AllList-box {
  width: 230px;
  height: 144px;
  overflow-y: auto;
}

.AllList-item {
  position: relative;
  margin: 0 0 0 11px;
  width: 204px;
  height: 24px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.start-date {
  position: absolute;
  right: 5px;
  height: 0px;
  background-color: transparent;
  border-bottom: 11px solid transparent;
  border-top: 11px solid transparent;
  border-left: 11px solid transparent;
}

.title {
  padding-left: 7px;
  width: 172px;
  height: 22px;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  color: white;
  overflow: hidden;
  text-overflow: auto;
  text-align: left;
}

.end-date {
  position: absolute;
  left: 0px;
  width: 0;
  height: 0;
  background-color: transparent;
  border-bottom: 11px solid transparent;
  border-top: 11px solid transparent;
  border-right: 11px solid transparent;
}

.border-left-토마토 {
  border-right: 11px solid rgb(213, 0, 0);
}

.border-right-토마토 {
  border-left: 11px solid rgb(213, 0, 0);
}

.border-left-연분홍 {
  border-right: 11px solid rgb(230, 124, 115);
}

.border-right-연분홍 {
  border-left: 11px solid rgb(230, 124, 115);
}

.border-left-바나나 {
  border-right: 11px solid rgb(246, 191, 38);
}

.border-right-바나나 {
  border-left: 11px solid rgb(246, 191, 38);
}

.border-left-세이지 {
  border-right: 11px solid rgb(244, 81, 30);
}

.border-right-세이지 {
  border-left: 11px solid rgb(244, 81, 30);
}

.border-left-바질 {
  border-right: 11px solid rgb(11, 128, 67);
}

.border-right-바질 {
  border-left: 11px solid rgb(11, 128, 67);
}

.border-left-공작 {
  border-right: 11px solid rgb(3, 155, 229);
}

.border-right-공작 {
  border-left: 11px solid rgb(3, 155, 229);
}

.border-left-블루베리 {
  border-right: 11px solid rgb(63, 81, 181);
}

.border-right-블루베리 {
  border-left: 11px solid rgb(63, 81, 181);
}

.border-left-라벤더 {
  border-right: 11px solid rgb(121, 134, 203);
}

.border-right-라벤더 {
  border-left: 11px solid rgb(121, 134, 203);
}

.border-left-포도 {
  border-right: 11px solid rgb(142, 36, 170);
}

.border-right-포도 {
  border-left: 11px solid rgb(142, 36, 170);
}

.border-left-흑연 {
  border-right: 11px solid rgb(97, 97, 97);
}

.border-right-흑연 {
  border-left: 11px solid rgb(97, 97, 97);
}
