.second-month-area {
    font-size: 0.5rem;
}

.month-area {
    height: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
  }
  
  .month-area span {
    margin: 0 1rem;
  }
  
  .month-area button {
    border-radius: 5px;
    border: 1px;
    font-size: 1.5rem;
  }
  