.color-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  column-gap: 10px;
}

.color-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

.color-icon img {
  display: block;
}

.color-box {
  width: calc(100% - 34px);
}

.color-opener {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 8px;
  font-size: 0.9em;
  background: rgb(238, 238, 238);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.036);
  cursor: pointer;
  border-radius: 5px;
}

.color-opener span {
  display: inline-block;
  font-weight: 600;
  height: 20px;
  line-height: 20px;

  &:nth-of-type(2) {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.colors {
  display: inline-block;
  margin: 10px 0;
  padding: 7px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.036);
}

.colors div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.c-on {
  display: flex;
}

.c-off {
  display: none;
}

.circle:hover {
  cursor: pointer;
}

/* @media (max-width: 500px) {
  .color-container {
    position: absolute;
    top: 100px;
    right: 10%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
  }
  
  .colors {
    position: absolute;
    right: 0px;
    top: 35px;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px;
    column-gap: 10px;
    row-gap: 10px;
  }
  
  .colors div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .c-on {
    display: grid;
  }
  
  .c-off {
    display: none;
  }
} */
