.result-page {
  padding-top: 70px;
  width: 95%;
  max-height: calc(100vh - 64px);
  margin: 0 auto;
}

.result-not-found {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-not-found p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.result-list {
  box-sizing: border-box;
  padding: 7px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(218, 220, 224);
  font-size: 15px;
}

.result-list div {
  box-sizing: border-box;
  padding: 0 8px;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

.r-l-1 {
  width: 60px;
}

.r-l-2 {
  width: 120px;
}

.r-l-3 {
  width: calc(100% - 180px);
}

.items {
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.items:hover {
  background-color: rgb(239, 239, 239);
}
