.images {
  position: relative;
  margin-left: 5%;
  width: 600px;
  height: 400px;
  border-radius: 8px;
  background-image: url("../../public/images/safari.png");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 600px;
  height: 400px;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}

.fade-out {
  opacity: 0;
}

.reamin {
  z-index: 1;
}

.generate {
  z-index: 5;
}

.image:nth-child(1) {
  background-color: red;
}

.image:nth-child(2) {
  background-color: green;
}

.image:nth-child(3) {
  background-color: blue;
}

@media (max-width: 1023.9px) {
  .images {
    display: none;
  }
}
