.time-date-box {
  width: 100%;
}

/* 1. 상단: 하루 종일 토글 영역 */
.time-date-box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-date-box__title {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 1em;
  font-weight: 700;
}

.time-date-box__icon {
  flex-shrink: 0;
}

.time-date-box__label {
  line-height: 1;
}

/* Toggle */
.time-date-box__toggle {
  position: relative;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  border-radius: 999px;
  background: rgb(159, 159, 159);
  transition: all 0.1s linear;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

.time-date-box__toggle.is-active {
  background: rgb(78, 3, 252);
}

.time-date-box__toggle-thumb {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.1s linear;
}

.time-date-box__toggle-thumb.is-active {
  transform: translateX(18px);
}

/* Range */
.time-date-box__range {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 30px;
}

.time-date-box__group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.time-date-box__field {
  position: relative;
}

.time-date-box__date-button,
.time-date-box__time-button {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(234, 239, 255);
  font-weight: 600;
}

.time-date-box__date-button.is-active,
.time-date-box__time-button.is-active {
  background: rgb(205, 217, 255);
}

.time-date-box__separator {
  flex-shrink: 0;
}

/* Mobile panel */
.time-date-box__mobile-panel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s linear;
}

.time-date-box__mobile-panel.is-active {
  grid-template-rows: 1fr;
}

.time-date-box__mobile-panel-inner {
  overflow: hidden;
  border-top: 2px solid transparent;
  transition: border-color 0.2s linear;
}


.time-date-box__mobile-panel.is-active .time-date-box__mobile-panel-inner {
  border-top-color: rgb(220, 220, 220);
}
