.color-container {
  position: absolute;
  top: 120px;
  right: 10%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.colors {
  position: absolute;
  right: 0px;
  top: 40px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(71, 71, 71);
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px;
  grid-template-rows: 20px 20px;
  column-gap: 10px;
  row-gap: 10px;
}

.colors div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}