.pick-container {
  position: relative;
  margin: 20px 30px 0;
  width: 340px;
  display: grid;
  grid-template-columns: 20px 320px;
  grid-template-rows: 80px auto;
  align-items: center;
  justify-content: left;
  font-size: 14px;

  svg {
    height: 18px;
  }
}

.picker-box {
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.picker-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-picker {
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 0.95em;
}

.date-picker:hover {
  cursor: pointer;
}

.time-picker {
  position: relative;
  margin: 6px 0 15px;
}

.time-picker input {
  box-sizing: border-box;
  width: 80px;
  height: 24px;
  font-size: 0.9em;
  text-align: center;
}

.time-picker input::placeholder {
  color: black;
}

.time-picker:hover {
  cursor: pointer;
}

.span-wave {
  width: 30px;
  height: 30px;
  font-size: 1.2em;
  line-height: 30px;
  text-align: center;
}

#time-selector {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

#time-selector div {
  height: 30px;
  line-height: 30px;
}

#time-selector div:hover {
  background-color: rgb(225, 224, 224);
}

.picker-two {
  box-sizing: border-box;
  width: 340px;
  height: auto;
  position: relative;
}

.date-on {
  background-color: rgb(73, 152, 255);
  color: white;
  border-radius: 7px;
}

.time-selec-container {
  box-sizing: border-box;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 3px;
  }
}

.t-open {
  height: 150px;
  border: 1px solid rgb(159, 159, 159);
}

@media (max-width: 500px) {
  .pick-container {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 18px;
  }

  .picker-box {
    padding: 0;
  }

  .picker-one {
    width: calc(50% - 15px);
    
    .date-picker {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;

      div {
        font-size: 0.9em;
        margin: auto;
        width: 90%;
        height: 50px;
        line-height: 50px;
      }
    }

    .time-picker {
      height: 50px;
      margin: 0;

      input {
        display: block;
        padding: 0;
        margin: auto;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 2px solid lightgray;
        font-size: 15px;
      }
    }
  }

  .picker-two {
    margin-top: 20px;
    width: 100%;
  }

  #time-selector {
    font-size: 0.8em;
  }
}