.time-container {
  width: 90%;
  margin: 20px 0 0 20px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 30px 310px;
  grid-template-rows: 72px auto;
  font-size: 14px;
  position: relative;
}

.time-box {
  display: flex;
  align-items: center;
  height: 100%;
}

.picker-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-area {
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 13px;
}

.date-area:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-picker {
  position: relative;
  margin: 6px 0;
}

.time-picker input {
  box-sizing: border-box;
  width: 80px;
  height: 24px;
  font-size: 13px;
  text-align: center;
}

.time-picker input::placeholder {
  color: black;
  font-size: 13px;
  text-align: center;
}

.time-picker:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-box-span {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

#time-selector {
  width: 100%;
  height: 150px;
  text-align: center;
  overflow-y: scroll;
  border: 1px solid rgb(159, 159, 159);
  font-size: 14px;
}

#time-selector div {
  height: 30px;
  line-height: 30px;
}

#time-selector div:hover {
  background-color: rgb(225, 224, 224);
}

.picker-two {
  margin: 5px 0;
  width: 340px;
  display: flex;
  align-items: center;
  position: relative;
}

.second-calender {
  width: 100%;
  z-index: 50;
}

.date-on {
  background-color: rgb(73, 152, 255);
  color: white;
  border-radius: 7px;
}

