.calender {
  width: 100%;
  height: 100%;
}

.table {
  width: 98%;
  margin: 0 auto;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.9em;
}

.weekname {
  width: 100%;
  height: 2em;
  font-size: 0.9em;
}

.weekname tr {
  width: 100%;
}

.weekname th {
  border-top: 1px solid rgb(193, 192, 192, 1);
  border-bottom: 1px solid rgb(193, 192, 192, 1);
  padding-left: 0.2em;
}

.presentation {
  width: 100%;
  height: 95%;
  box-sizing: border-box;
}

.date_box {
  width: 14.2857142857%;
  box-sizing: border-box;
  vertical-align: text-top;
  border: 1px solid rgba(180, 179, 179, 0.5);
  border-left: 0;
  border-right: 0;
  position: relative;
}

.date {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
}

.date h2 {
  width: 24px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  font-weight: 540;
  line-height: 24px;
}

.sunday {
  color: red;
  border-left: 0;
}

.saturday {
  color: blue;
  border-right: 0;
}

.Today {
  background-color: #1a73e8;
  border-radius: 100%;
  color: white;
}

.list-box {
  position: absolute;
  margin-top: 26px;
  width: 100%;
  height: 80%;
  font-size: 24px;
}

.list-area {
  position: relative;
  width: 100%;
  height: 100%; /* 여기 동적으로.*/
}

.list-boundary-short {
  width: 98%;
  height: 22px;
  display: flex;
}

.list-boundary-long {
  width: 100%;
  height: 24px;
  display: flex;
  box-sizing: border-box;
  line-height: 24px;
}

.color-bar {
  box-sizing: border-box;
  margin: 2px 0;
  height: 18px;
  width: 4px;
}

.list {
  width: 100%;
  height: 22px;
  margin: 1px 5px 1px 0;
  padding-left: 3px;
  color: #506ee2;
  font-weight: bold;
  line-height: 22px;
  font-size: 11px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: auto;
}

.long {
  z-index: 3;
  padding-left: 0.50em;
  border-radius: 5px 5px;
  color: white;
  pointer-events: auto;
}

.list-more {
  top: 80%;
  width: 100%;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}

.listIndex-1 {
  position: absolute;
  top: 24px;
}

.listIndex-2 {
  position: absolute;
  top: 48px
}

.listIndex-3 {
  position: absolute;
  top: 72px;
}

.list:hover {
  background-color: rgb(182, 182, 182);
}
.list-more:hover {
  background-color: rgb(193, 193, 193);
}

.done {
  text-decoration: line-through;
}

/* @media screen and (max-width: 980px) {
  .calender-view {
    height: 93%;
  }
} */