.calender-view {
  margin: 80px auto 0;
  width: 97%;
  height: calc(100vh - 80px);
  position: relative;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
}

.calender {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  transition: all 0.15s linear;
}

.table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
}

.weekname {
  width: 100%;
  height: 26px;
  font-size: 1em;
}

.weekname tr {
  width: 100%;
  box-sizing: border-box;
}

.weekname th {
  height: 25px;
  border-bottom: 1px solid rgb(193, 192, 192, 0.2);
  padding-left: 7px;
  font-size: 1em;
}

tbody {
  width: 100%;
  height: calc(100% - 26px);
  box-sizing: border-box;
}

td {
  position: relative;
  width: calc(100% / 7);
  box-sizing: border-box;
  vertical-align: text-top;
  border: 1px solid rgba(180, 179, 179, 0.2);
  border-left: 0;
  border-right: 0;
}

.date-box {
  position: absolute;
  box-sizing: border-box;
  padding-right: 5px;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-box span {
  min-width: 24px;
  height: 100%;
  font-size: 1em;
  font-weight: 550;
  line-height: 24px;
  text-align: center;
}

.sunday {
  color: red;
  border-left: 0;
}

.saturday {
  color: blue;
  border-right: 0;
}

.Today {
  background-color: #1a73e8;
  border-radius: 100%;
  color: white;
}

.startDate {
  padding-left: 5px;
}

.holiday {
  background-color: rgb(2, 152, 2);
  color: white;
  border-radius: 5px;
}

.national {
  color: rgb(2, 152, 2);
}

.list-box {
  position: absolute;
  margin-top: 24px;
  width: 100%;
  height: calc(100% - 24px);
}

.list-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.list-area div:hover {
  cursor: pointer;
}

.list-boundary {
  position: absolute;
  box-sizing: border-box;
  height: 24px;
}

.short {
  z-index: 5;
}

.bound-long {
  padding: 1px 5px;
}

.color-bar {
  box-sizing: border-box;
  margin: 3px 0;
  height: 18px;
  min-width: 4px;
}

.list {
  box-sizing: border-box;
  width: calc(100% - 3px);
  height: 22px;
  margin: 1px 0;
  padding-left: 8px;
  color: #506ee2;
  font-size: 1em;
}

.list div {
  width: 100%;
  height: 100%;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type-one {
  display: block;
}

.type-two {
  display: none;
}

.long {
  z-index: 5;
  border-radius: 5px 5px;
  color: white;
}

.list-more {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 24px;
  padding-left: 4px;
  font-size: 12px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-more:hover {
  opacity: 0.6;
}

.clicked {
  opacity: 0.6;
}

.done {
  text-decoration: line-through;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.dragging {
  cursor: move;
}

@media screen and (max-width: 800px) {
  .table {
    font-size: 10px;
  }

  .color-bar {
    display: none;
  }

  .type-one {
    display: none;
  }

  .type-two {
    display: block;
  }
}

.dragover {
  opacity: 0;
  display: none;
}

.clone {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.clone tr {
  width: 100%;
}

@media (max-width: 500px) {
  .calender-view {
    width: 100%;
  }

  .calender {
    overflow-x: hidden;
  }

  .slide {
    width: 300%;
    display: flex;
  }

  .table {
    margin: 0 auto;
    width: 97vw;
    min-width: 320px;
    font-size: 10px;
  }

  .list div {
    line-height: 18px;
  }

  .list-boundary-long {
    height: 20px;
  }

  .list {
    height: 18px;
  }
}

.mobile-calender {
  display: flex;
  width: auto;
  height: auto;
}
