.main-area {
  height: 5%;
  align-items: center;
  text-align: center;
  margin-bottom: 0.6rem;
  display: block;
  align-items: center;
}

.main-area span {
  margin: 0 1rem;
  font-size: 20px;
}

.main-area button {
  border-radius: 5px;
  border: 1px;
}
