.view-area {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 99%;
  background-color: rgba(252, 252, 252, 0.65);
  border-radius: 15px;
}

.header {
  width: 90%;
  height: 8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name span{
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0.5em;
}

.header ul {
  display: flex;
  list-style: none;
  align-items: stretch;
  margin-right: 1.3em;
}

.header li {
  margin-right: 2em;
}

.profile {
  display: block;
  width: 50%;
  height: 50%;
  font-size: 1em;
  font-weight: bold;
}

.Logout {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.Logout:hover {
  cursor: pointer;
  color: blue;
}

.month-area {
  height: 5%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.3em;
  font-weight:bolder;
}

.month-area span {
  margin: 0 1em;
}

.month-area button { 
  border: 0;
  font-size: 1.2em;
}

.calender-view {
  height: 90%;
}

@media screen and (min-width: 1200px) {
  .month-area {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 980px) {
  .header {
    height: 45px;
  }
}

@media screen and (max-width: 980px) {
  .calender-view {
    height: 93%;
  }
}
