.header {
  width: 95%;
  height: 2rem;
  margin: 1rem auto 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div {
  font-size: 1.2rem;
  font-weight: bold;
}

.header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: stretch;
}

.header li {
  margin: 0 1rem 0 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
