.header {
  position: fixed;
  z-index: 15;
  left: 1.5%;
  width: 97%;
  padding: 10px 0;
  font-size: 16px;
}

.header-box {
  box-sizing: border-box;
  height: 44px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ttitle {
  font-size: 18px;
}

.header-name {
  box-sizing: border-box;
  padding: 8px;
  height: 44px;
  line-height: 1.625em;
  font-size: 1em;
}

.header-name span {
  font-weight: 600;
}

.header-user-info {
  position: absolute;
  right: 15px;
  padding: 5px;
  width: 34px;
  height: 34px;
  text-align: center;
}

.user-info-circle {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 35px;
  color: rgb(240, 240, 240);
  border-radius: 50%;
  background-color: blueviolet;
  position: relative;
}

.header-user-info:hover {
  cursor: pointer;
}

.search {
  position: absolute;
  top: 14px;
  right: 60px;
}

.search-b {
  display: flex;
  align-items: center;
}

.search-b button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right: 5px;
}

.search-b button:hover {
  cursor: pointer;
}

.search-b span {
  font-size: 18px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  /* font-family: ; */
}

.search-form {
  position: relative;
  min-width: 200px;
  width: 50%;
}

.search-form button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
}

.search-form input {
  box-sizing: border-box;
  padding: 5px 10px 5px 42px;
  height: 40px;
  width: calc(100% - 40px);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(60, 64, 67, 0.3);
  font-size: 16px;
}

.search button {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.search button {
  cursor: pointer;
}

.search input {
  box-sizing: border-box;
  padding: 2px 12px;
  width: 80vw;
  max-width: 600px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  font-size: 16px;
}

.select-month {
  position: absolute;
  left: calc(50vw - 95px);
  box-sizing: border-box;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
}

.select-month div {
  width: 110px;
  text-align: center;
}

.select-month button {
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.2em;
}

.select-month button:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}


@media (max-width: 500px) {
  .search {
    right: 10px;
  }

  .header-user-info {
    display: none;
  }
}

