* {
  margin: 0;
  padding: 0;
  font-family: "돋움", Helvetica, "Apple SD Gothic Neo", Sans-serif;
}

html,
body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 251, 251);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  user-select: none;
}

#root {
  position: absolute;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centered {
  position: absolute;
  top: 37%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}

button:hover {
  background-color: lightgray;
}

input:focus {
  outline: none;
}

/* 모달 애니메이션 */
@keyframes On {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  85% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.on {
  animation: On .25s linear forwards;
}

.off {
  animation: Off .25s linear forwards;
}



.토마토 {
  background-color: rgb(213, 0, 0);
}

.연분홍 {
  background-color: rgb(230, 124, 115);
}

.바나나 {
  background-color: rgb(246, 191, 38);
}

.세이지 {
  background-color: rgb(244, 81, 30);
}

.바질 {
  background-color: rgb(11, 128, 67);
}

.공작 {
  background-color: rgb(3, 155, 229);
}

.블루베리 {
  background-color: rgb(63, 81, 181);
}

.라벤더 {
  background-color: rgb(121, 134, 203);
}

.포도 {
  background-color: rgb(142, 36, 170);
}

.흑연 {
  background-color: rgb(97, 97, 97);
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tourney:ital,wght@1,300&display=swap');