.time-container {
  width: 90%;
  height: 19px;
  background-color: white;
  margin: 50px 0 0 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.clock-icon {
  margin-right: 0.8rem;
  size: 14px;
}

.time-box {
  display: flex;
  align-items: center;
}

.date-area {
  width: 60px;
  height: 19px;
  line-height: 19px;
  text-align: center;
}

.date-area span {
  display: inline-block;
  font-size: 12px;
}

.date-area:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-one {
  position: relative;
  box-sizing: border-box;
  padding: 1px 1px;
  width: 72px;
  height: 100%;
  text-align: center;
}

.time-one input {
  width: 57px;
  height: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}

.time-one input:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-box-span {
  display: inline-block;
  width: 24px;
  text-align: center;
  font-size: 16px;
}

.time-two {
  position: relative;
  box-sizing: border-box;
  padding: 1px 1px;   
  width: 72px;
  height: 100%;
  text-align: center;
}

.time-two input {
  width: 57px;
  height: 15px;
  font-size: 10px;
  text-align: center;
}

.time-two input:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-select-one {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 96px;
  font-size: 11px;
}

.time-select-two {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 96px;
  font-size: 11px;
}


#time-selector {
  max-height: 100%;
  overflow-y: scroll;
}

#time-selector div:hover {
  background-color: lightgray;
}

.time-container input::placeholder {
  text-align: center;
  color: black;
  font-size: 11px;
}

.second-calender {
  position: absolute;
  top: 110%;
  left: 10%;
}

.start_date {
  width: 40%;
  height: 95%;
}

.end_date {
  margin-left: 10%;
  max-width: 40%;
  height: 95%;
}

@media screen and (max-width: 425px) {
  .time-area-date {
    width: 45px;
  }

  .time-area-date span {
    font-size: 10px;
  }

  .time-area-date .date-area {
    left: -4%;
  }

  .time-one {
    width: 56px;
  }

  .time-two {
    width: 56px;
  }

  .time-one input {
    width: 52px;
    font-size: 8px
  }

  .time-one input::placeholder {
    font-size: 8px;
  }

  .time-two input {
    width: 52px;
    font-size: 8px;
    line-height: 14px;
  }

  .time-two input::placeholder {
    font-size: 8px;
  }
}

@media screen and (max-width: 425px) {
  .time-container input::placeholder {
    font-size: 4px;
  }

  .date-area {
    width: 46px;
    line-height: 16px;
  }
  
  .date-area span{
    font-size: 10px;
  }
}

@media screen and (max-height: 450px) {
  .second-calender {
    z-index: 6;
    top: -400%;
  }
}

@media screen and (max-width: 425px) {
  .second-calender {
    left: -4%;
  }
}

@media screen and (max-width: 325px) {
  .time-box {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
  }

  .second-calender {
    z-index: 6;
    top: 200%;
    left: -9%;
  }
}