.time-date-box {
  width: 90%;
  height: 19px;
  background-color: white;
  margin: 50px 0 0 20px;
  display: flex;
  align-content: center;
  font-size: 14px;
}

.clock-icon {
  margin-right: 0.8rem;
  size: 14px;
}

.time-area-date {
  width: 60px;
  height: 19px;
  position: relative;
  line-height: 19px;
  text-align: center;
}

.time-area-date span {
  display: inline-block;
  font-size: 12px;
}

.time-area-date:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-one {
  position: relative;
  width: 72px;
  height: 100%;
  text-align: center;
}

.time-one input:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-one input {
  width: 57px;
  height: 15px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
}

input::-webkit-input-placeholder { font-size: 0.7rem; }
input::-moz-placeholder { font-size: 0.7rem; }
input:-ms-input-placeholder { font-size: 0.7rem; }
input:-moz-placeholder { font-size: 0.7rem; }
input::placeholder { font-size: 0.7rem; }

.time-area-span {
  display: inline-block;
  width: 24px;
  text-align: center;
  font-size: 16px;
}

.time-two {
  position: relative;
  width: 72px;
  height: 100%;
  text-align: center;
}

.time-two input {
  width: 57px;
  height: 15px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
}

.time-two input:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.time-select-one {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 96px;
  font-size: 11px;
}

.time-select-two {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 96px;
  font-size: 11px;
}


#time-selector {
  max-height: 100%;
  overflow-y: scroll;
}

#time-selector div:hover {
  background-color: lightgray;
}

.time-date-box input::placeholder {
  text-align: center;
  color: black;
  font-size: 11px;
}

.time-area-date .date-area {
  position: absolute;
  margin: 0 auto;
  top: 110%;
  left: -30%;
}

.start_date {
  width: 40%;
  height: 95%;
}

.end_date {
  margin-left: 10%;
  max-width: 40%;
  height: 95%;
}
